
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My MVC App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bg-primary text-white p-3">
        <h1 class="container">My MVC App</h1>
    </header>
    <div class="d-flex ">
        <aside class="bg-light border-end p-3 left_menu bg-info" style="width: 200px;">
            <nav>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link aside_l" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="nav-item"><a class="nav-link aside_l" href="@Url.Action("Index", "Contacts")">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Notes")">Notes</a></li>
                    <!--<li class="nav-item"><a class="nav-link aside_l" href="/Notes/Index">Notes</a></li>-->

                </ul>
            </nav>
        </aside>
        <main class="container-fluid p-4">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark text-white text-center p-3">
        &copy; @DateTime.Now.Year - My MVC App
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
