@model List<CinemaPoster.VM.ViewModels.MovieViewModel>
@{
    Layout = "_AdminPanelLayout";
}

<h2>Movies</h2>
<a class="btn btn-primary mb-3" asp-controller="Movies" asp-action="Create">Create New Movie</a>

<table class="table">
    <thead>
        <tr>
            <th>Movie title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Sessions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.DirectorName</td>
                <td>@movie.Genre</td>
                <td>@movie.Description</td>
                <td>
                    <ul>
                        @foreach (var session in movie.Sessions)
                        {
                            <li>@session.StartTime.ToString("dd.MM.yyyy HH:mm") </li>
                        }
                    </ul>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                    <form method="post" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@*
@model List<CinemaPoster.Domain.Models.Movie>
@{
    Layout = "_AdminPanelLayout";
}
*@
<!--

<h2>Movies</h2>
<a class="btn btn-primary mb-3" asp-controller="Movies" asp-action="Create">Create New Movie</a>

<table class="table">
    <thead>
        <tr>
            <th>Movie title</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @*
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Genre</td>
                <td>@movie.Description</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                    <form method="post" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
        *@
    </tbody>
</table>
-->
