@model CinemaPoster.Domain.Models.Movie
<h2>Edit Movie</h2>


<form method="post" asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="DirectorId" />
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
    </div>
    <div class="form-group">
        <label for="DirectorName">Director</label>
        <input type="text" class="form-control" id="DirectorName" name="DirectorName" value="@Model.DirectorId" />
    </div>
    <div class="form-group">
        <label for="Genre">Genre</label>
        <input type="text" class="form-control" id="Genre" name="Genre" value="@Model.Genre" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <button type="submit" class="btn btn-success btn-lg">Edit</button>
        <a asp-controller="Movies" asp-action="Index" class="btn btn-secondary btn-lg">Cancel</a>
    </div>
</form>
