@model IEnumerable<WebApplicationNotes.Models.Note>
@{
    ViewData["Title"] = "Notes";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notes</h2>
<a class="btn btn-success mb-3" href="@Url.Action("Create", "Notes")">+ Add Note</a>
<table class="table table-bordered color_t table table-warning table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Tags</th>
            <th>Contact ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td class="vertical_centered color_t">@note.Title</td>
                <td class="vertical_centered">@note.Content</td>
                <td class="vertical_centered">@note.Tags</td>
                <td class="centered">@note.ContactId</td>
                <td class="centered">
                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Notes", new { id = note.Id })">Edit</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Notes", new { id = note.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

