@model IEnumerable<WebApplicationNotes.Models.Note>
@{
    ViewData["Title"] = "Note";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notes</h2>

<a asp-controller="Note" asp-action="Create" class="btn btn-success"><i class="bi bi-file-plus-fill"></i>Add Note</a>

<table class="table table-bordered color_t table table-warning table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Tags</th>
            <th>Contact ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td class="vertical_centered color_t">@note.Title</td>
                <td class="vertical_centered">@note.Content</td>
                <td class="vertical_centered">@note.Tags</td>
                <td class="centered">@note.ContactId</td>
                <td class="centered">
                    <a asp-controller="Note" asp-action="Edit" asp-route-id="@note.Id" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" class="btn btn-danger btn-sm")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

